body{
    background: #36c;
    background:
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
    #36c;
    background-size: 15px 30px;
}
.navbar{
    background-color: #00126b;
    font-weight: 500;
}
.nav-link{
    background-color: #006b5d;
    margin-left: 10px;
    border-radius: 5px;
    color: #00126b;
}
#logout{
    background-color: #054e44;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}
#logout a{
    color: #6b0012;
}
.container {
    margin-top: 40px;
}
.form-signin {
    margin: 0 auto;
    max-width: 400px;
}
.addform{
    background-color: #36c;
}
.modifytable{
    background-color: #36c;
}
#appbundle_member_register{
    background-color: rgb(0, 21, 61);
    color: aquamarine;
    font-weight: 400;
}
#flash{
    z-index: 100;
    opacity: 1;
    background-color: chocolate;
<<<<<<< HEAD
}
.indextable{
    width: 300px;
    height: 330px;
    position: relative;
    border: 5px blue;
    margin: auto;
}
.detailbutton{
    position: absolute;
    bottom: 5px;
    max-width: 285px;
    margin: auto;
}
.navbar-toggler{
    background-color: cyan;
}
.navbar-toggler-icon{
    color: #6b0012;
=======
>>>>>>> parent of f2922b9... final styleing done
}