<nav class="fixed-top navbar navbar-expand-lg">
    <div id="logout">
      {% if app.user %}
        <a href="{{ logout_path('main') }}">Logout</a>
      {% endif %}
    </div>
  <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center"><br>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" href="/create">Add new</a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" href="/modify">Modify</a>
      </li><br>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>